/** MAIN BODY **/

body{
    background-color:#EBEBEB;
}
body .content{
    margin:0;
}
.link{
    padding:8px 0 8px 10px;
    margin:0;
}
.link.odd {
    background-color: #F5F5F5;
}
.keyHighlight{
    border:none !important;
    outline:none !important;
    background-color:transparent !important;
}




/** REDDIT ENHANCEMENT SUITE **/

.RESimage{border: 1px solid #d9d9d9;}
.RES-keyNav-activeElement { outline: 0px none !important; } 
.entry.RES-keyNav-activeElement { background-color: #EBEBEB !important; }
.link.odd .entry.RES-keyNav-activeElement { background-color: #F5F5F5 !important; }
.link.even .entry.RES-keyNav-activeElement { background-color: #EBEBEB !important; }
.link.last-clicked { border: 0px none !important; }
.neverEndingReddit{margin:20px auto 0;}




/** HEADER **/

#header .tabmenu li.selected a{
    background-color:#f2f2f2;
    border-color:#5F99CF #5F99CF #f2f2f2;
}
#header-top-right {
    top: auto !important;
    bottom: 0 !important;
    border-radius: 0 !important
}
.entry .buttons li { 
    line-height: 1em;
}



/** SIDE BAR **/

.side {
    background-image: url(%%hallOfFame%%);
    background-repeat: no-repeat;
    background-position: 35px 15px;
    padding: 92px 20px 10px;
    width: 300px;
    position: relative;
    z-index: 2;
}
.sheets{
    margin-right:355px;
}
.side {
    margin: 0px 0px;
    box-shadow: -2px 0 5px rgba(0,0,0,.1);
}
.side .md {
    overflow: visible !important;
    font-size: 11px;
}
.side .md h3{
    background: #5A6363;
    color: #ffffff;
    padding:5px 0 5px 20px;
    font-size:13px;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:bold;
    margin:20px -20px 5px -30px;
}
.side .md h3:after{
    border-color: transparent #434a4a transparent transparent !important;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    height: 0;
    margin-left: -30px;
    margin-top: -5px;
    position: absolute;
    width: 0;
    z-index: -1;
}
.side .md h3 em {
    color: #FFFF66;
    font-size: 70%;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: text-top;
}
.side .md h4 {
    margin-top: 5px;
}
.side .md ul,
.side .md ol {
    margin: 10px 1em;
}
.side .md li{
    margin-top: 5px;
}



/** LINK FLAIR **/
.linkflairlabel, .side a[href^="/r/vexillology/search?q=flair"] {
    background-color: #808080;
    border: 0 none !important;
    color: #FFFFFF;
    font-size: 10px;
    height: 20px;
    line-height: 19px;
    padding: 0;
    width: auto;
    min-width: 90px;
    max-width: none;
    padding-right: 10px;
    text-align: left;
    display: inline-block;
}
.linkflairlabel:before, .side a[href^="/r/vexillology/search?q=flair"]:before {
    content: ' ';
    width: 20px;
    height: 100%;
    margin-right: 5px;
    display: block;
    float: left;
    background-image: url(%%linkFlairSprite%%);
    background-color: transparent;
    background-position: center -5px;
}
.side a[href^="/r/vexillology/search?q=flair"] {
    margin:0;
    border-radius: 2px;
}


.entry .title .linkflairlabel { vertical-align: text-bottom; }


/* LINK FLAIR BACKGROUND COLORS */
.linkflair-oc         .title .linkflairlabel, .flairselector .linkflair-oc         .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-oc         { background-color: #c1392d; }
.linkflair-current    .title .linkflairlabel, .flairselector .linkflair-current    .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-current    { background-color: #d45300; }
.linkflair-historical .title .linkflairlabel, .flairselector .linkflair-historical .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-historical { background-color: #e77e23; }
.linkflair-redesigns  .title .linkflairlabel, .flairselector .linkflair-redesigns  .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-redesigns  { background-color: #f39b13; }
.linkflair-fictional  .title .linkflairlabel, .flairselector .linkflair-fictional  .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-fictional  { background-color: #f1c40f; }
.linkflair-inthewild  .title .linkflairlabel, .flairselector .linkflair-inthewild  .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-inthewild  { background-color: #2dcc70; }
.linkflair-collection .title .linkflairlabel, .flairselector .linkflair-collection .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-collection { background-color: #17a086; }
.linkflair-identify   .title .linkflairlabel, .flairselector .linkflair-identify   .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-identify   { background-color: #3598dc; }
.linkflair-discussion .title .linkflairlabel, .flairselector .linkflair-discussion .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-discussion { background-color: #7e8c8c; }
.linkflair-tools      .title .linkflairlabel, .flairselector .linkflair-tools      .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-tools      { background-color: #5d6e7e; }
.linkflair-subtalk    .title .linkflairlabel, .flairselector .linkflair-subtalk    .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-subtalk    { background-color: #2d3e50; }
.linkflair-contest    .title .linkflairlabel, .flairselector .linkflair-contest    .linkflairlabel, .entry &gt; .title &gt; .linkflairlabel.linkflair-contest    { background-color: #9b59b6; }

/* LINK FLAIR ICONS */
.linkflair-oc         .title .linkflairlabel:before, .flairselector .linkflair-oc         .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-oc:before         { background-position: center -5px; } 
.linkflair-current    .title .linkflairlabel:before, .flairselector .linkflair-current    .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-current:before    { background-position: center -5px; }
.linkflair-historical .title .linkflairlabel:before, .flairselector .linkflair-historical .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-historical:before { background-position: center -5px; }
.linkflair-redesigns  .title .linkflairlabel:before, .flairselector .linkflair-redesigns  .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-redesigns:before  { background-position: center -5px; }
.linkflair-fictional  .title .linkflairlabel:before, .flairselector .linkflair-fictional  .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-fictional:before  { background-position: center -5px; }
.linkflair-inthewild  .title .linkflairlabel:before, .flairselector .linkflair-inthewild  .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-inthewild:before  { background-position: center -35px; }
.linkflair-collection .title .linkflairlabel:before, .flairselector .linkflair-collection .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-collection:before { background-position: center -35px; }
.linkflair-identify   .title .linkflairlabel:before, .flairselector .linkflair-identify   .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-identify:before   { background-position: center -35px; }
.linkflair-discussion .title .linkflairlabel:before, .flairselector .linkflair-discussion .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-discussion:before { background-position: center -65px; }
.linkflair-tools      .title .linkflairlabel:before, .flairselector .linkflair-tools      .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-tools:before      { background-position: center -65px; }
.linkflair-subtalk    .title .linkflairlabel:before, .flairselector .linkflair-subtalk    .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-subtalk:before    { background-position: center -65px; }
.linkflair-contest    .title .linkflairlabel:before, .flairselector .linkflair-contest    .linkflairlabel:before, .entry &gt; .title &gt; .linkflairlabel.linkflair-contest:before    { background-position: center -65px; }

/* SIDEBAR LINK FLAIR ICONS */

.side table thead, .side th { display: none;}
.side table td { border: 0 none !important;}
.side table a[href^="/r/vexillology/search?q=flair"]:before  { background-position: center -5px; } 
.side table ~ table a[href^="/r/vexillology/search?q=flair"]:before  { background-position: center -35px; }
.side table ~ table ~ table a[href^="/r/vexillology/search?q=flair"]:before  { background-position: center -65px; }

.side table tr:nth-of-type(1) a[href^="/r/vexillology/search?q=flair"] { background-color: #c1392d; }
.side table tr:nth-of-type(2) a[href^="/r/vexillology/search?q=flair"] { background-color: #d45300; }
.side table tr:nth-of-type(3) a[href^="/r/vexillology/search?q=flair"] { background-color: #e77e23; }
.side table tr:nth-of-type(4) a[href^="/r/vexillology/search?q=flair"] { background-color: #f39b13; }
.side table tr:nth-of-type(5) a[href^="/r/vexillology/search?q=flair"] { background-color: #f1c40f; }

.side table ~ table tr:nth-of-type(1) a[href^="/r/vexillology/search?q=flair"] { background-color: #2dcc70; }
.side table ~ table tr:nth-of-type(2) a[href^="/r/vexillology/search?q=flair"] { background-color: #17a086; }
.side table ~ table tr:nth-of-type(3) a[href^="/r/vexillology/search?q=flair"] { background-color: #3598dc; }

.side table ~ table ~ table tr:nth-of-type(1) a[href^="/r/vexillology/search?q=flair"] { background-color: #9b59b6; }
.side table ~ table ~ table tr:nth-of-type(2) a[href^="/r/vexillology/search?q=flair"] { background-color: #7e8c8c; }
.side table ~ table ~ table tr:nth-of-type(3) a[href^="/r/vexillology/search?q=flair"] { background-color: #5d6e7e; }
.side table ~ table ~ table tr:nth-of-type(4) a[href^="/r/vexillology/search?q=flair"] { background-color: #2d3e50; }


/* LINK FLAIR SELECTOR */
.buttons .flairoptionpane .linkflair a.title,
.buttons .flairselection  .linkflair a.title {
    display: none;
}
